@using SzkolaWebApp.Models
@model ArticlesViewModel

@section styles {
    @Styles.Render("~/Content/css/gallery.css")
}

<!-- Site content -->
@if (Model.IsUserAuthenticated)
{
    if (Model.HeaderMode == HeaderModes.ADD)
    {
        @Html.Partial("_AddArticlePartial", Model)
    }
    else
    {
        @Html.Partial("_EditArticlePartial", Model)
    }

    @section logout
    {
       <a href="/Account/Logout" class="logout-link"><div class='site-element site-footer logout'>Wyloguj się</div></a>
    }
}

<section class="site-element site-content">
    <h2 class="hidden">@ViewBag.Title</h2>

    @foreach (var article in Model.Articles)
    {
        <article>
            <header class="news-header">
                <h3 class="news-title">@article.Title</h3>
                <div class="news-header-right-panel">
                    @if (Model.IsUserAuthenticated)
                    {
                        <a class="news-edit" href="@Url.Action("EditArticle", "Home", new { articleId = article.ArticleId })">Edytuj</a>
                        <a class="news-delete" href="@Url.Action("DeleteArticle", "Home", new { articleId = article.ArticleId })">Usuń</a>
                    }
                    <div class="news-pubdate">@article.PublicationDate.ToString("dd.MM.yyyy")</div>
                </div>
            </header>
            <div class="content">
                <p>
                    @article.Content
                </p>

                @if (article.Photos.Count > 0)
                { 
                    <div class="gallery-wrapper">
                        <div class="gallery">
                            <div class="gallery-main-view">
                                @foreach (var photo in article.Photos)
                                {
                                    <img class="gallery-image" src="@photo.Link">
                                }
                            </div>
                            <div class="gallery-arrows">
                                <div class="gallery-left-arrow">
                                    <i class="material-icons">keyboard_arrow_left</i>
                                </div>
                                <div class="gallery-right-arrow">
                                    <i class="material-icons">keyboard_arrow_right</i>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </article>
    }
</section>

@section scripts 
{
    @Scripts.Render("~/Scripts/gallery.js")
    @if (Model.IsUserAuthenticated)
    {
        @Scripts.Render("~/Scripts/script.js")
        <script src="~/Scripts/Validation/Articles/add_article_validation.js"></script>
    }
}