@model SzkolaWebApp.Models.ContentEditViewModel

@section styles {
    @Styles.Render("~/Content/css/contact.css")
}

<!-- Site content -->
<section class="site-element site-content content">
    <h2>@ViewBag.Title</h2>
    <div class="content-wrapper">
        <div class="top">
            @using (Html.BeginForm("ContactEditMode", "Home", FormMethod.Post, new { onsubmit = "return validateContactForm()", name = "contact-form" }))
            {
                @*@Html.TextAreaFor(model => model.Content, new { @class = "contact-edit-field", @Value = Model.Content } )*@
                <textarea class="contact-edit-field" id="Content" name="Content">@Model.Content</textarea>

                <input type="submit" value="Zapisz zmiany" class="save-changes-button">

                <p id="contact-error-box">@Model.ErrorMessage</p>
            }
            <img id="kamien" src="~/Content/images/kamien.jpg" alt="kamien">
        </div>
    </div>
    <div id="map"></div>
</section>

@section scripts {
    @Scripts.Render("~/Scripts/google-map.js")
    @Scripts.Render("~/Scripts/Validation/Contact/contact_validation.js")
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7p6uDIt9CH--LVdVYMB13RDci17Az9Ao&callback=initMap"></script>
}