@model SzkolaWebApp.Models.ContentEditViewModel

@section styles {
    @Styles.Render("~/Content/css/contact.css")
}


<!-- Site content -->
<section class="site-element site-content content">
    <h2>@ViewBag.Title</h2>
    <div class="content-wrapper">
        <div class="top">
            <div class="contact">
                @Html.Raw(Model.Content)

                @if (Model.IsUserAuthenticated)
                {
                    <p class="contact-edit">@Html.ActionLink("Edytuj", "ContactEditMode")</p>
                }
            </div>
            <img id="kamien" src="~/Content/images/kamien.jpg" alt="kamien">
        </div>
    </div>
    <div id="map"></div>
</section>

@section scripts {
    @Scripts.Render("~/Scripts/google-map.js")
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7p6uDIt9CH--LVdVYMB13RDci17Az9Ao&callback=initMap"></script>
}