@model SzkolaWebApp.Models.GalleryViewModel
@using System.IO

@{
    ViewBag.Title = "Galeria zdjęć";
}

@section styles
{
    <link href="~/Content/css/PhotoLibrary/photo-library.css" rel="stylesheet" />
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("UploadPhotos", "Gallery", FormMethod.Post, new { enctype = "multipart/form-data" }))
{ 
    @Html.TextBoxFor(model => model.UploadedPhotos, new { type = "file", multiple = "multiple", accept = "image/*" } )

    <input type="submit" value="Wyślij"/>
}


<br />
<br />
<br />

@Html.DisplayFor(model => model.FileErrorMessage)
@Html.DisplayFor(model => model.ExtensionErrorMessage)

@foreach (var photo in Model.Photos) {
    @Html.DisplayFor(modelItem => photo.FileName)

    <img src="@Url.Content("~/Content/UploadedPhotos/" + photo.FileName)" />

    @Html.ActionLink("Delete", "DeletePhoto", new { photoId = photo.PhotoId })
}
