@model SzkolaWebApp.Models.GalleryViewModel

@{
    ViewBag.Title = "Galeria zdjęć";
}

@section styles
{
    <link href="~/Content/css/PhotoLibrary/photo-library.css" rel="stylesheet" />
}

<!-- Site content -->
<section class="site-element site-content content">
    <h2>@ViewBag.Title</h2>
    <div class="content-wrapper">

        @using (Html.BeginForm("UploadPhotos", "Gallery", FormMethod.Post, new { name = "upload-photos-form", enctype = "multipart/form-data" }))
        {
            <p>
                @Html.TextBoxFor(model => model.UploadedPhotos, new { type = "file", multiple = "multiple", accept = "image/*" })
                <input type="submit" value="Wyślij" />
            </p>

            <div id="FileErrorMessage">@Html.DisplayFor(model => model.FileErrorMessage)</div>
            <div id="ExtensionErrorMessage">@Html.DisplayFor(model => model.ExtensionErrorMessage)</div>
        }

        @using (Html.BeginForm("InsertPhotosToArticle", "Home", FormMethod.Post, new { name = "insert-photos-form" }))
        {
            <div class="center">
                @if (Model.Article != null)
                {
                <input type="hidden" id="Article_ArticleId" name="Article.ArticleId" value="@Model.Article.ArticleId" />
                <input type="hidden" id="Article_Title" name="Article.Title" value="@Model.Article.Title"/>
                <input type="hidden" id="Article_Content" name="Article.Content" value="@Model.Article.Content" />
                }

                @foreach (var photo in Model.Photos)
                {
                    <div class="img-container" name="img-container" id="@photo.PhotoId">
                        <div class="caption">@Html.DisplayFor(modelItem => photo.FileName)</div>
                        @Html.ActionLink("Delete", "DeletePhoto", new { photoId = photo.PhotoId }, new { @Name = "delete-photo" })

                        <img src="@Url.Content(photo.Link)" />
                        
                        <input type="checkbox" id="PhotosToInsertIDs" name="PhotosToInsertIDs" value="@photo.PhotoId" class="hidden" 
                            @if (Model.PhotosInArticle != null && Model.PhotosInArticle.Contains(photo))
                            {
                                @:checked="checked"
                            }
                        />
                    </div>
                }
            </div>
            
            <input type="submit" value="sub" id="insert-photos-to-article"/>
        }
    </div>
</section>


@section scripts {
    <script src="~/Scripts/Validation/Gallery/photo-library.js"></script>
}