<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Styles.Render("~/Content/css/reset.css")
    @Styles.Render("~/Content/css/style.css")
    @RenderSection("styles", required: false)
    <title>@ViewBag.Title</title>
</head>
<body>
    <header class="site-element site-header">
        <h1 class="hidden">Szkoła podstawowa</h1>
        <div class="header-image"></div>
        <nav id="nav">
            <div class="nav-content-wrapper">
                @if(ViewBag.Title != "Aktualności" &&
                    ViewBag.Title != "Informacje" &&
                    ViewBag.Title != "Historia szkoły" &&
                    ViewBag.Title != "Kontakt" &&
                    ViewBag.Title != "Login" &&
                    ViewBag.Title != "Register")
                {
                    ViewBag.Title = "Informacje";
                }

                <ul>
                    <li @(ViewBag.Title == "Aktualności" ? "class=nav-active" : "")><a href="@Url.Action("Articles", "Home")">Aktualności</a></li>
                    <li @(ViewBag.Title == "Informacje" ? "class=nav-active" : "")><a href="@Url.Action("Information", "Information")">Informacje</a></li>
                    <li @(ViewBag.Title == "Historia szkoły" ? "class=nav-active" : "")><a href="@Url.Action("History", "Home")">Historia szkoły</a></li>
                    <li @(ViewBag.Title == "Kontakt" ? "class=nav-active" : "")><a href="@Url.Action("Contact", "Home")">Kontakt</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer class="site-element site-footer @(ViewBag.Title == "Aktualności" ? "footer-correct-margin" : "")">
        ©2018 Szkoła podstawowa z oddziałami gimnazjalnymi. Designed by Maciej Sadoś
    </footer>

    @RenderSection("logout", required: false)

    @Scripts.Render("~/Scripts/built-in/jquery-3.2.1.min.js")
    @Scripts.Render("~/Scripts/sticky-nav.js")
    @RenderSection("scripts", required: false)
</body>
</html>
