@model SzkolaWebApp.Models.AccountViewModel

@section styles {
    @Styles.Render("~/Content/css/content.css")
}

<section class="site-element site-content content">
    <h2>@ViewBag.Title</h2>
    <div class="content-wrapper">
        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "todo-form", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <p class="validation-error">
                @Html.DisplayFor(model => model.ErrorMessage)
            </p>

            <p>
                @Html.LabelFor(m => m.Credentials.Username)
                @Html.TextBoxFor(m => m.Credentials.Username, new { id = "login-username" })
                <span class="validation-error">
                    @Html.DisplayFor(model => model.UsernameErrorMessage)
                </span>
            </p>

            <p>
                @Html.LabelFor(m => m.Credentials.Password)
                @Html.PasswordFor(m => m.Credentials.Password)
                <span class="validation-error">
                    @Html.DisplayFor(model => model.PasswordErrorMessage)
                </span>
            </p>

            <p>
                <input type="submit" value="Zaloguj">
            </p>
            <p>
                @Html.ActionLink("Stwórz konto", "Register", null, new { @class = "unhref" })
            </p>
        }
    </div>
</section>

@section scripts {
    @Scripts.Render("~/Scripts/Validation/Account/login_validation.js")    
}