@model SzkolaWebApp.Models.LoginViewModel

@section styles {
    @Styles.Render("~/Content/css/content.css")
}

<section class="site-element site-content content">
    <h2>@ViewBag.Title</h2>
    <div class="content-wrapper">
        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "todo-form", role = "form" }))
        {
            @Html.AntiForgeryToken()
            if (Model != null)
            {
                <p>
                    @Model.ErrorMessage
                </p>
            }
            <p>
                @Html.LabelFor(m => m.Credentials.Username)
                @Html.TextBoxFor(m => m.Credentials.Username, new { id = "login-username" })
            </p>
            <p>
                @Html.LabelFor(m => m.Credentials.Password)
                @Html.PasswordFor(m => m.Credentials.Password)
            </p>
            <p>
                <input type="submit" value="Zaloguj">
            </p>
            <p>
                @Html.ActionLink("Stwórz konto", "Register", null, new { @class = "unhref" })
            </p>
        }
    </div>
</section>

@section scripts {
    @Scripts.Render("~/Scripts/Validation/Account/login_validation.js")    
}