@model SzkolaWebApp.Models.LoginViewModel

@section styles {
    @Styles.Render("~/Content/css/content.css")
}

<section class="site-element site-content content">
    <h2>@ViewBag.Title</h2>
    <div class="content-wrapper">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "todo-form", role = "form" }))
        {
            <h3 class="register">Stwórz nowe konto</h3>

            @Html.AntiForgeryToken()
            <p>
                @Html.LabelFor(m => m.Credentials.Username)
                @Html.TextBoxFor(m => m.Credentials.Username)
            </p>
            <p>
                @Html.LabelFor(m => m.Credentials.Password)
                @Html.PasswordFor(m => m.Credentials.Password)
            </p>
            <p>
                <input type="submit" value="Zarejestruj">
            </p>
        }
    </div>
</section>